@charset 'UTF-8';
.ydw-login {
  margin: 0 auto;
  width: 7.5rem;
  min-width: 320px;
  background-color: #fff;
}
.ydw-login .ydw-login-head {
  position: relative;
  top: 0;
  z-index: 99;
  width: 100%;
  max-width: 7.5rem;
  height: .92rem;
  background-color: #ff9900;
  color: #fff;
}
.ydw-login .ydw-login-head .back-l {
  position: absolute;
  left: .4rem;
  top: .26rem;
  width: .28rem;
  height: .4rem;
}
.ydw-login .ydw-login-head .back-l .back {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../img/ydwShop/nav_icon_back@2x.png) no-repeat;
  background-size: .28rem .4rem;
  color: #fff;
}
.ydw-login .ydw-login-head .ydw-login-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: .42rem;
}
.ydw-login .ydw-login-head .ydw-login-title-r {
  position: absolute;
  right: .28rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: .42rem;
}
.ydw-login .ydw-login-head .ydw-login-title-r a {
  color: #fff;
}
.ydw-login .ydw-login-main {
  width: 100%;
}
.ydw-login .ydw-login-main .ydw-login-main-form {
  position: relative;
  padding-top: 1.2rem;
  padding: 1.2rem .74rem 0 .74rem;
  width: 100%;
  color: #333;
}
.ydw-login .ydw-login-main .ydw-login-main-form .ydw-login-p {
  width: 100%;
  height: 1.28rem;
  line-height: 1.28rem;
  font-size: .32rem;
}
.ydw-login .ydw-login-main .ydw-login-main-form .login-btn {
  margin-top: .98rem;
}
.ydw-login .ydw-login-main .ydw-login-main-form .login-btn .next {
  width: 100%;
  height: 1rem;
  background-color: #ff9900;
  outline: none;
  border: 1px solid #ff9900;
  border-radius: .1rem;
  font-size: .38rem;
  color: #fff;
}
.ydw-login .ydw-login-main .ydw-login-main-form .b-b {
  border-bottom: 1px solid #8f8f8f;
}
.ydw-login .ydw-login-main .ydw-login-main-form .txt {
  padding-left: .4rem;
  width: 4rem;
  height: .62rem;
  font-size: .38rem;
}
.ydw-login .ydw-login-main .ydw-login-main-form .forget-psw {
  position: absolute;
  bottom: 1.5rem;
  right: .94rem;
  font-size: .28rem;
  color: #666;
}
