@charset "UTF-8";
* {
  box-sizing: border-box;
}
body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select,
header,
footer {
  margin: 0;
  padding: 0;
}
body,
html {
  background-color: #fff;
  font: 16px "Microsoft YaHei", "\5B8B\4F53", san-serif;
  color: #333;
  height: 100%;
}
a {
  text-decoration: none;
  border: 0;
}
ul,
ol {
  list-style-type: none;
}
input {
  border: 0;
  outline: none;
  background: none;
}
em,
i,
b,
strong {
  font-style: normal;
}
img {
  border: 0;
  vertical-align: bottom;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 12px;
  font-weight: normal;
}
table,
td,
tr,
th {
  font-size: 12px;
}
.clearFix::before,
.clearFix::after {
  content: '';
  display: block;
  clear: both;
}
.mint-indicator-mask {
  background-color: #fff;
  z-index: 999;
  opacity: 1;
}
.mint-indicator-wrapper {
  z-index: 9999;
}
